<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- load static -->
 {% load static %}
</head>
<body>
<!--About Starts Here-->
    <section class="about" id="about">
      <div class="container">
        <h2 class="text-center">About Us</h2>

        <div class="row about-box">
          <div class="col-md-6 about-text">
            <h5>Attractive website creation</h5>
            <p>
              Website design is a process of designing and implementing the website which includes the analysis, design, development and maintenance. In order to make a website, designers must first figure out who will be the target audience, what they need and how the website should look like
            </p>
            <a href="https://kinsta.com/blog/about-us-page/" class="btn btn-primary">Read More</a>
          </div>

          <div class="col-md-6">
            <img src="{% static 'images/team.png' %}" class="img-fluid" alt="Vector Image of Team">
          </div>
        </div>
      </div>
    </section>
    <!--About Ends Here-->


</body>
</html>