<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- load static -->
 {% load static %}
</head>
<body>
<!--Blogs Starts Here-->
    <section class="blogs" id="blogs">
      <div class="container">
        <h2 class="text-center">Our Blogs</h2>
        <div class="row">

          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'images/blog1.gif' %}" class="card-img-top" alt="Blog Title">

              <div class="card-body">
                <h5 class="card-title">This is awesome blog post.</h5>
                <a href="{%url 'blog' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'images/blog2.jpg' %}" class="card-img-top" alt="Blog Title">

              <div class="card-body">
                <h5 class="card-title">This is awesome blog post.</h5>
                <a href="{%url 'blog' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'images/blog3.jpg' %}" class="card-img-top" alt="Blog Title">

              <div class="card-body">
                <h5 class="card-title">This is awesome blog post.</h5>
                <a href="{%url 'blog' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img src="{% static 'images/blog4.jpg' %}" class="card-img-top" alt="Blog Title">

              <div class="card-body">
                <h5 class="card-title">This is awesome blog post.</h5>
                <a href="{%url 'blog' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!--Blogs Ends Here-->
</body>
</html>