<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!-- Footer starts here -->
     <footer id="footer">
      <div class="container">

        <div class="social-links">
          <a href="https://www.facebook.com/" class="facebook"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/" class="instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <div class="copyright text-black" >
          Copyright &copy; <strong><span>ILLUSTRATION LOGO</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits text-black"  >
          Designed by
          <a href="https://github.com/prapri77/" target="_blank"
            >prasanth</a
          >
        </div>
      </div>
    </footer>
    <!-- End Footer -->

</body>
</html>