<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- load static -->
    {% load static %}
</head>
<body>
<!--Header Starts Here with Nav-->
    <header id="home">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="{% static 'images/logos.png' %}" class="img-fluid" alt="myimage" width="100px">
            </a>
            <div class="text-right">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item navbar__item--btn">
                        <a class="nav-link header__btn font-weight-bold" href="#home">Home</a>
                      </li>
                        <li class="nav-item navbar__item--btn">
                            <a class="nav-link header__btn font-weight-bold" href="#about">About</a>
                        </li>
                        <li class="nav-item navbar__item--btn">
                          <a class="nav-link header__btn font-weight-bold" href="#services">Services</a>
                        </li>
                        <li class="nav-item navbar__item--btn">
                          <a class="nav-link header__btn font-weight-bold" href="#blogs">Blogs</a>
                        </li>
                        <li class="nav-item navbar__item--btn">
                          <a class="nav-link header__btn font-weight-bold" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <div class="btn-group dropstart header__btn">
                      <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sign in</a></li>
                      </ul>
                    </div>
                      <div class="btn-group dropend header__btn">
                        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Register
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Sign Up</a></li>
                        </ul>
                      </div>
                     <!-- SEARCH BOX -->
               <form id="searchForm" class="d-flex justify-content-between">
                <input id="searchInput"
                    class="form-control me-2"
                    type="search"
                    placeholder="Search Popular site"
                />
                <button class="btn btn-outline-primary"
                      type="submit">Search</button>
                <!-- <input type="button" class="btn btn-primary"
                        value="submit" onclick="newDoc()"/>   -->
                </form>
                </div>
            </div>
        </div>
      </nav>
        </header>
    <!--Header Ends Here-->

</body>
</html>