<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- load static -->
 {% load static %}
</head>
<body>
<!--Services Starts Here-->
    <section class="services" id="services">
      <div class="container">
        <h2 class="text-center">Our Services</h2>

        <div class="row">
          <div class="col-md-4">
            <img src="{%static 'images/service1.jpg' %}" class="img-fluid" alt="Digital Marketing">
            <h4 class="service-text text-center">Digital Marketing</h4>
          </div>

          <div class="col-md-4">
            <img src="{%static 'images/service2.jpg' %}" class="img-fluid" alt="Brand Design">
            <h4 class="service-text text-center">Brand Design</h4>
          </div>

          <div class="col-md-4">
            <img src="{%static 'images/service3.jpg' %}" class="img-fluid" alt="Web Design">
            <h4 class="service-text text-center">Web Design</h4>
          </div>

        </div>
      </div>
    </section>
    <!--Services Ends Here-->
</body>
</html>