<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head> <body>
<form method="POST" class="post-form" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="eid">Employee ID:</label>
        <input type="text" id="eid" name="eid"><br> <br>
        <label for="name">Employee name:</label>
        <input type="text" id="name" name="name"><br> <br>
        <label for="contact">Employee Contact:</label>
        <input type="text" id="contact" name="contact"><br> <br>
        <label for="address">Employee address:</label>
        <input type="text" id="address" name="address"><br> <br>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" type="button" >Cancel</button>
</form>
</body>
</html>
