<html lang="en">
<head>
  {% load static %}
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
  </head>
<body>
<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#"  role="tab" data-toggle="tab">Change Password</a></li>
        </ul>
		<div class="tab-pane fade in" id="login">   

<form method="POST" action="{% url 'change_password' %}">
		{% csrf_token %}

		{% if form.errors %}

		      <div class="alert alert-danger alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                  </button>


               {% for field in form %}
               	{% if field.errors %}
               		{{ field.errors }}
               	{% endif%}

               	{% endfor %}


              </div>

  {% endif %}


		{{ form.as_p }}

		<div class="mrgn-30-top">
			<button type="submit" class="btn btn-larger btn-block"/>
			Change Password
			</button>
		  </div>
	</form>
	<div class="border-top pt-3">
		{% if user.is_authenticated %}
		<small class="text-muted">
			<a href="{% url 'edit_profile' %}">Edit profile</a>
		</small>
		<small class="text-muted">
			<a href="{% url 'logout' %}">Logout</a>
		</small>
		{% endif%}
	</div>
</div>
</div>
</div>
</div>
<!-- /.container --> 
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static '/script.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block content %}
{% endblock %}
</body>
</html>