<html lang="en">
<head>
  {% load static %}
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
  </head>
<body>
<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>
        </ul>
        <div class="tab-pane fade in" id="login">
            <h2 class="text-uppercase text-center"></h2>
            <form action="{% url 'login' %}" method="POST" class = "was-validated">
                {% csrf_token %}
                {% if form.errors %}
		<div class="alert alert-danger alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                  </button>


               {% for field in form%}
               	{% if field.errors%}
               		{{field.errors}}
               	{% endif%}

               	{% endfor %}


              </div>



		{% endif %}
<!--                  &lt;!&ndash; Render the CAPTCHA field &ndash;&gt;-->
<!--        {{ form.captcha }}-->
                {{ form.as_p }}
                <!-- Add the CAPTCHA field -->
<!--        <div class="g-recaptcha" data-sitekey="{{ 6LeyZ8EpAAAAALsKBnudRyP5FYEwEl282A0YFiAj }}"></div>-->
<!--                &lt;!&ndash; Display CAPTCHA errors if any &ndash;&gt;-->
<!--                {% if form.captcha.errors %}-->
<!--            <div class="error">{{ form.captcha.errors }}</div>-->
<!--        {% endif %}-->



              <!-- <div class="form-group">
                <label> Your Email<span class="req">*</span> </label>
                <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                <p class="help-block text-danger"></p>

              </div>
              <div class="form-group">
                <label> Password<span class="req">*</span> </label>
                <input type="password" class="form-control" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                <p class="help-block text-danger"></p>

              </div> -->


              <div class="mrgn-30-top">
                <button type="submit" class="btn btn-larger btn-block"/>
                Log in
                </button>
              </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small><br>
                <!-- <small class="text-muted">
                    <a href="{% url 'change_password' %}">Forgot password?</a>
                </small> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static '/script.js' %}"></script>
<!-- Include the reCAPTCHA script -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block content %}
{% endblock %}
</body>
</html>
