<!-- {% load i18n %}
    By internationalizing an application, 
    developers can create a single codebase that can be easily adapted to different languages and regions, 
    thus reducing the need for separate versions of the software for each target market
{% autoescape off %}
To initiate the password reset process for your account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request a password reset, please ignore this email.
{% endautoescape %} -->